@charset "UTF-8";
.mceContentBody {
	color: #1a1a1a;
	font-family: 'Roboto', Helvetica, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Mplus 1p", "メイリオ", "Meiryo UI", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
	margin: 10px;
	max-width: 680px;
}

/* -------------------- 記事のカスタマイズ -------------------- */
.mceContentBody p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.mceContentBody h2 {
    font-size: 1.3rem;
    font-weight: 900;
    border-bottom: thin solid #007acc;
}

.mceContentBody h3 {
    font-size: 1.2rem;
    font-weight: 600;
    border-left: 10px solid #007acc;
    padding-left: 0.5rem;
}

.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6
 {
    font-size: 1.08rem;
    font-weight: 600;
	margin-top: 1.1rem;
	margin-bottom: 1rem;
	text-transform: none;
	letter-spacing: normal;
}

.mceContentBody h4
{
	margin-top: 2rem;
	padding-bottom: 3px;
}
.mceContentBody h4:before {
  font-family: 'FontAwesome';
  content: '\f0c8';
  padding-right: 10px;
  color: #007acc;
}

/* Tips */
.tips {position: relative;
	margin: 2em 0 1em;
	font-family: "Menlo", "Roboto", Helvetica, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Mplus 1p", "メイリオ", "Meiryo UI", sans-serif;
	font-size:14px;
	background: #eeeeee;
	box-shadow: 5px 5px 5px #aaaaaa;
	padding: 20px;
	margin-bottom: 1em;
	border-radius: 10px;
}

.tips:before	{position: absolute;
			left: 15px;
			top: -15px;
			content: '\f08d';
			z-index: 2;
			width: 32px;
			height: 32px;
			padding-top: 3px;
			border-radius: 16px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			background-color: #909090;
			color: #ffffff;
			font-family: 'FontAwesome';
			font-size: 26px;
			line-height: 1;
			text-align: center}

.tips:after		{position: absolute;
			left: 32px;
			top: -8px;
			z-index: 1;
			content: 'Tips';
			padding: 3px 10px 3px 20px;
			border-radius: 5px;
			background-color: #909090;
			color: #ffffff;
			font-family: Verdana, Helvetica, sans-serif;
			font-weight: bold;
			line-height: 1}

/* 補足情報 */
.point	{position: relative;
		margin: 2em 0 1em;
		padding: 25px 20px 20px;
		border-radius: 10px;
		background-color: #e6f4ff;
		box-shadow: 5px 5px 5px #aaaaaa;
		font-size: 14px;
		clear: both}

.point:before	{position: absolute;
			left: 15px;
			top: -15px;
			content: '\f0eb';
			z-index: 2;
			width: 32px;
			height: 32px;
			padding-top: 3px;
			border-radius: 16px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			background-color: #0066b3;
			color: #ffffff;
			font-family: 'FontAwesome';
			font-size: 26px;
			line-height: 1;
			text-align: center}

.point:after		{position: absolute;
			left: 32px;
			top: -8px;
			z-index: 1;
			content: 'Point';
			padding: 3px 10px 3px 20px;
			border-radius: 5px;
			background-color: #0066b3;
			color: #ffffff;
			font-family: Verdana, Helvetica, sans-serif;
			font-weight: bold;
			line-height: 1}

/* 注意書き */
.attention		{position: relative;
			margin: 40px 0 30px;
			padding: 20px;
			border-radius: 10px;
			border: dotted 2px #a70d0d;
			background-color: #fedddd;
			font-size: 14px;
			clear: both}

.attention:before	{position: absolute;
			left: 20px;
			top: -15px;
			content: '\f071';
			background-color: #ffffff;
			color: #a70d0d;
			font-family: 'FontAwesome';
			font-size: 26px;
			line-height: 1}

/* ハイライト */
.highlight		{background: linear-gradient(transparent 60%, #ffff00 60%);
			padding: 0 3px}

/* 番号なしリスト */
.mceContentBody ul	{list-style: none}
.mceContentBody ol	{margin-left: 20px;}

.mceContentBody ul li		{position: relative;
			padding-left: 20px}

/*.mceContentBody ul li:before	{
	position: absolute;
	left: 0px;
	top: 3px;
	content: '\f00c';
	color: #000000;
	font-family: 'FontAwesome';
	line-height: 1;
}*/

/* 引用 */
.mceContentBody blockquote:not(.alignleft):not(.alignright) {position: relative;
				margin-left: 0;
				padding: 20px 50px 1px 50px;
				border: none;
				background: #eee;
				box-shadow: 5px 5px 5px #aaa;
				color: #444444;
				font-size: 0.875rem;
				line-height: 1.8}

.mceContentBody blockquote:before	{position: absolute;
				left: 10px;
				top: 10px;
				content: '\f10d';
				color: #aaaaaa;
				font-size: 30px;
				font-family: 'FontAwesome';
				line-height: 1}

.mceContentBody blockquote:after		{position: absolute;
				right: 10px;
				bottom: 10px;
				content: '\f10e';
				color: #aaaaaa;
				font-size: 30px;
				font-family: 'FontAwesome';
				line-height: 1}

/* -------------------- 画像 -------------------- */
/* 編集画面の標準の設定を解除 */
.alignleft, .alignright	{float: none}

.wp-caption		{float: none;
				margin: 0;
				padding: 0;
				border: none;
				background: transparent}

/* 画像のキャプション */
.wp-caption-dd		{margin: 0;
				color: #666666;
				font-size: 10px;
				text-align: center}

.wp-caption-dd a		{color: #666666}

/* 画像の配置 */
.aligncenter		{display: block;
				margin-top: 30px;
				margin-bottom: 30px;
				margin-left: auto;
				margin-right: auto}

@media (max-width: 599px) {
	.alignleft, .alignright
				{display: block;
				margin-top: 30px;
				margin-bottom: 30px;
				margin-left: auto;
				margin-right: auto}
}

@media (min-width: 600px) {
	.alignleft		{float: left;
				margin-top: 10px;
				margin-bottom: 20px;
				margin-right: 30px}

	.alignright		{float: right;
				margin-top: 10px;
				margin-bottom: 20px;
				margin-left: 30px}
}
/* -------------------- 外部コンテンツ -------------------- */
iframe			{max-width: 100%}

/* YouTubeのビデオ */
.ytvideo			{position: relative;
				width: 100%;
				height: 0;
				padding-top: 56.25%;
				overflow: hidden;
				margin-top: 30px;
				margin-bottom: 30px}

.ytvideo iframe		{position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%}
